#navbar{
    display: flex;
    justify-content: flex-end;
    gap:15px;


}
#menu{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap:25px;
   
  
}
image{
    height: 15px;
    width: 15px;

}

